@charset "utf-8";
/* --- ヘッダーとフッター --- */
.custom-header,
.custom-footer {
    background-color: #33E0FE;
    font-weight: bold;
    color: #333;
    padding: 15px 0;
    text-align: center;
}
.custom-header {
    text-align: left;
    font-size: 1.25rem;
    padding-left: 20px;
}
.custom-footer {
    font-size: 0.9rem;
}
/* ----------------------- */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-wrapper {
    flex: 1;
}

/* カルーセル内のデザイン調整 */
.carousel-placeholder {
    background-color: #dcdcdc;
    /* height: 200px;  <- 固定の高さを削除しました */
    width: 100%;
    height: 100%; /* 親要素(ratio)に合わせて高さを100%にする */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
    /* 画像を埋め込む場合は object-fit: cover; などをここに追加します */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
        filter: invert(50%); 
}

/* 遷移ボタンのデザイン */
.nav-btn {
    background-color: #dcdcdc;
    height: 120px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.nav-title {
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
    color: #333;
}